<div class="default-container">
    <div class="sidebar"></div>
    <div class="hero">
        <h1 class="title"> Admin Management </h1>
        <div class="buttons-container">
            <%= link_to "List Users", '/admin/list_users', class: 'button' %>
            <%= link_to "List Authorities", '/admin/list_authorities', class: 'button' %>
            <%= link_to "Create Authority", '/admin/create_authority', class: 'button' %>
        </div>
        <div class="buttons-container">
            <%= link_to "Log out", '/admin/sign_out', method: :delete, class: 'button' %>
        </div>
    </div>
    <div class="sidebar"></div>
</div>