<div id="map"></div>
<% provide :head_tags do %>
  <script>
  document.addEventListener("DOMContentLoaded", function(){
      initMap(<%=@markers.latitude%>, <%=@markers.longitude%>)
  });
  </script>
<% end %>