<% provide :head_tags do %>
 
    <div id="data_pending">
      <%=
      require 'json'
      @markers_pending_nouser.to_json %>
    </div>
    <div id="data_verified">
      <%=
      require 'json'
      @markers_verified_nouser.to_json %>
    </div>
    <div id="map"></div>    
<% end %>
<%= javascript_include_tag "jquery" %>
<%= javascript_include_tag "homes" %>