<div class="default-container">
  <div class="sidebar"></div>
  <div class="hero">
    <h1 class="title">Escolha uma Tela de Login</h1>
    <div class="buttons-container"> 
      <a href="/users/login" id="user-link" class="button">Ir para Login de Usuário</a>
      <a href="/authorities/login" id="authority-link" class="button">Ir para Login de Autoridade</a>
    </div>
  </div>
  <div class="sidebar"></div>
</div>