<div class="default-container">
    <div class="sidebar"></div>
    <div class="hero">
    <h1 class="title"> Página de Gerenciamento de Autoridades</h1>

    <table>
      <tr>
        <th>Identificador</th>
        <th>Nome</th>
      </tr>
      <% @authorities.each do |aut| %>
        <tr>
            <td><%= aut.identifier%></td>
            <td><%= aut.name%></td>
        </tr>
        <%end%>
    </table>

    <div class="buttons-container">
      <%= link_to "Back", :back, class:"button" %>
    </div>
  </div>
  <div class="sidebar"></div>
</div>