// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map {
  height: 100%;
}

#data_pending, #data_verified, #data_self {
  display: none;
}

.button-home {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 64px;
  height: 64px;
  left: 5%;
  top: 10%;
  border-radius: 50%;
  background-color: #53b332;
  transition: background-color 1s;

  &:hover {
    background-color: #dbffce;
  }

  img {
    width: 100%;
    height: auto;
  }
}

.button-disasters-list {
  img {
    width: 30px;
    
  }
  right: 5%;
  left: initial;
}

.button-disasters-list-self {
  img {
    width: 55px;
    
  }
  top: 20%;
  right: 5%;
  left: initial;
}
